html,body{
    background-color:#F4F4F4;
    height: 100%;
}

.marchent-section {
    text-align: center;
    float: left;
    width: 100%;
    background-color: #F4F4F4;
}

.purchase-total {
       float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}
span.starbucks {
     color: #131312;
    padding: 4px 0px;
    font-weight: bold;
	font-size:20px;
}
.payment-left-div { 
    font-size: 16px;
    font-weight: bold;
}


.payment-section {
    float: left;
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
   /* min-height: 55%; */
    padding-bottom: 0px;
    margin-top:5px;
}

.main-section {
    height: 100%;
    float: left;
    width: 100%;
    display: none;
}
.make-payment {
    display: flex;
    padding: 2px 10px;
    justify-content: space-between;
    border-top: 1px solid #232222;
}
img.back-arrowy {
    margin-right: 20px;
}

.payment-card-footer {
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: normal;
    width: 100%;
    padding-bottom: 15px;
}

button.btn.proceed,.add-to-card{
    margin: 0 auto;
    background-color: #CE4400;
    border: 0px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 28px;
    padding: 6px 100px;
}

.completed-payment {
    display: flex;
    align-items: center;
    justify-content: center;
}
#payment-completed{
    display:none;
}
.add-remove img{
    margin-left:10px;
}
img.completed-img {
    width: 60%;
}


.container{
    white-space: nowrap;
    overflow-x: auto;
    padding-left: 0px;
}
.add-card {
    background-color: transparent;
    border: 1px dotted #707070;
    border-radius: 4px;
}
.box.add-card {
    background-color: transparent;
    border-radius: 4px;
}
.visa-card {
    background-color: #002250;
    border-radius: 4px;
}
.marchent-name {
    font-size: 20px;
    font-weight: bold;
}
span.each {
    padding-left: 10px;
}
.box{
    width: 100px;
    margin: 6px;
    display: inline-block;
    height: 85px;
    position: relative;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #b0ababf7;
}
.box.master-card{
    background-color:#000;
}
.add-card-div {
    padding: 0px;
}
.add-card-div img {
    width: 50%;
}

.card-number {
    position: absolute;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
}
span.active {
    margin: 3px 3px;
    float: left;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
   
}
.box.credit-card {
    background-color: #016FD0;
}
.add-card-details {
    padding: 15px;
    float: left;
    display: none;
    width: 100%;
}
span.number {
    float: right;
}
img.swip-mechine {
    width: 25%;
}

.swip-mechine {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}


.lading-page{
    display:none;
}
.lading-page {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.top-to-scan {position: absolute;bottom: 0px;padding: 20px;width: 100%;border-top: 1px solid #e8e5e5;}
.top-to-scan span {
    float: left;
    width: auto;
}
.top-to-scan img {
    float: right;
}
.swip-rounded {
    background-color: pink;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-product-section {
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding:0px 10px
}
.qty-row {
    float: left;
    width: 100%;
    border-bottom: 1px solid #f3f2f2;
    padding:0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-div1 {
    float: right;
}
sapn.qty-text{
	float:left;
}
.box img {
    width: 30%;
    height: 70%;
    float: left;
    margin: 0 auto;
    position: absolute;
    left: 30%;
}

.right-div {
    float: right;
    width:25%;
    text-align: right;
}
.add-qty {
     display: flex;
    border-radius: 20px;
    border: 1px solid gray;
    float: right;
    padding: 0px;
    text-align: center;
    align-items: center;
}   


button.qty {
       color: #CE4400;
    font-size: 18px;
    background-color: transparent;
    border: 0px;
    outline: none;
    text-align: center;
    margin: 0px;
    width: 45px;
} 
span.without-amt-inp{
    float: left;
    width: 100%;
}
.amount-text input {
    text-align: center;
    border: 0px;
    width: 60%;
    outline: none;
    margin-left: 15px;
    font-size: 18px;
}
.amount-text1 input {
    text-align: center;
    border: 0px;
    width: 50%;
    outline: none;
    margin-left: 15px;
    font-size: 18px;
}
.marchent-details {
    padding: 5px 0px;
    float: left;
    width: 100%;
}

#with-amount{
    display: block;
}
#without-amount{
    display: none;
}
div#back-page {
    color: #819A4D;
    font-weight: BOLD;
    font-size: 14px;
    padding:15px;
}
.payment-method {
    float: left;
    width: 100%;
    border-top: 1px solid #e7e7e7;
}
.payment-text {
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
}

.payment-options ul li {
    list-style-type: none;
    line-height: 25px;
}

.payment-options ul {
    padding-left: 20px;
}
input.form-control.month {
    float: left;
    width: 50%;
}

input.form-control.year {
    float: left;
    width: 50%;
}

.add-card-details label {
    width: 100%;
    float: left;
}
span.addition-amt-text {
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
    float: left;
    width: 100%;
    text-align: CENTER;
}
span.qty-text {
    float: right;
    margin-right: 10px;
}
.font-size16{
	font-size:16px !important;
}
.font-size22 {
    font-size: 20px !important;
}
.margin-top10{
	margin-top:10px;
}
.address-city {
    border-bottom: 1px solid #525252;
    padding-bottom: 10px;
}
.additional-amt label {
    float: left;
    padding-top: 10px;
    width: 70%;
  
}

.add-amt-inp {
    float: left;
    margin-top: 0px;
    border: 0px;
    padding: 3px;
    margin-left: 5px;
    width: 30%;
}
.purchase-amt-text label {
    float: left;
    width: 60%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.purchase-amt-inp {float: right;width: 30%;margin-top: 6px;border: 0px;padding: 3px;}
.additional-amt {
    float: left;
    width: 100%;
    padding-top: 0px;
    border-bottom: 1px solid #232222;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.completed-section{
    margin-top:20px;
}
.border0{
    border:0px;
}
.purchase-total.completed-amt {
    border-bottom: 1px solid #3d3d3d;
    padding: 20px 0px;
}